.org {
  margin-bottom: 0.5rem;
  padding: 1rem;
  background: #d7eeff;

  &__avatar {
    max-height: 50px;
    max-width: 50px;
  }

  h3 {
      color: black;
  }
}

.avatar_col {
  text-align: right;
}
